[submodule "modules/wanage"]
	path = modules/wanage
	url = git://github.com/wakaba/wanage
[submodule "modules/perl-json-functions-xs"]
	path = modules/perl-json-functions-xs
	url = git://github.com/wakaba/perl-json-functions-xs
[submodule "modules/perl-web-useragent-functions"]
	path = modules/perl-web-useragent-functions
	url = git://github.com/wakaba/perl-web-useragent-functions
[submodule "modules/perl-ooutils"]
	path = modules/perl-ooutils
	url = git://github.com/wakaba/perl-ooutils
[submodule "modules/perl-charclass"]
	path = modules/perl-charclass
	url = git://github.com/wakaba/perl-charclass
[submodule "modules/vcutils"]
	path = modules/vcutils
	url = git://github.com/wakaba/perl-vcutils
[submodule "modules/karasuma-config"]
	path = modules/karasuma-config
	url = git://github.com/wakaba/karasuma-config
[submodule "modules/web-url"]
	path = modules/web-url
	url = git://github.com/wakaba/perl-web-url
[submodule "modules/web-encodings"]
	path = modules/web-encodings
	url = git://github.com/wakaba/perl-web-encodings
